:root {
    --bg-color--main: rgb(50, 49, 48);
    --bg-color--secondary: rgb(9, 60, 77);
    --text-color--main: rgb(255, 255, 255);
    --box-shadow--color: rgb(20, 20, 20);
}

body {
    background-color: var(--bg-color--main);
    color: var(--text-color--main);
    display: none;
    opacity: 0;
    transition: opacity 0.25s;
}

body.smooth-load-transition {
    opacity: 1;
    display: block;
}

/*******************
=== Game Canvas ===
*******************/
#game-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 255, 0.1);
}

/*****************************
=== Site Background Image ===
*****************************/

.background-container {
    background-image: url('../images/circuitboard.jpg');
    background-repeat: repeat;
    width: 100%;
    height: 200%;
    overflow: hidden;
    opacity: 0.01;
    position: absolute;
    z-index: -1;
}

/****************************
=== Navigation | Nav bar ===
****************************/

.navigation {
    position: sticky;
    top: 0;
    background-color: rgb(5, 0, 51);
    display: flex;
    z-index: 50;
    border-radius: 0 0 0.25em 0.25em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 3px 5px 5px var(--box-shadow--color);
    transition: 0.33s;
}

.navigation h4,
.navigation h1 {
    margin-bottom: 0;
    font-weight: bolder;
}

/************************
=== Content Sections ===
************************/

.profile-section {
    text-align: center;
    justify-content: center;
}

.profile-section .welcome-text {
    font-size: 4em;
}

h1.section-title, .subsection-title {
    font-weight: bold;
}

h1.section-title {
    letter-spacing: 3px;
    text-align: center;
    font-size: 5em;
}

.subsection-title--container {
    width: 800px;
}

.subsection-title:hover {
    text-decoration: none;
    color: #007bff;
}

.subsection-title::before {
    content: "";
    position: absolute;
    background-color: white;
    width: 50%;
    height: 5px;
    left: -55%;
    top: 45%;
}

.subsection-title::after {
    content: "";
    position: absolute;
    background-color: white;
    width: 50%;
    height: 5px;
    right: -55%;
    bottom: 55%;
}

@media (max-width: 767px) {
    .profile-section .welcome-text {
        font-size: 5em;
    }

    .profile-section h3 {
        font-size: 1.25em;
    }

    h1.section-title {
        font-size: 4em;
        letter-spacing: 2px;
    }
    
    .subsection-title::before, .subsection-title::after {
        display: none;
    }

    .subsection-title {
        text-decoration: underline;
    }
}

@media (max-width: 500px) {
    .profile-section .welcome-text {
        font-size: 3em;
    }

    h1.section-title {
        font-size: 3em;
        letter-spacing: 1px;
    }
}

.my-projects-section {
    margin: 15px 20px 10px 20px;
}

.my-projects-section p  {
    font-size: 1.5em;
    font-weight: bold;
}


/********************
=== Image Styles ===
********************/

.img-portfolio {
    box-shadow: 3px 5px 5px var(--box-shadow--color);
    margin: 20px;
}

.img-portfolio--profile {
    align-self: flex-start;
    max-width: 400px;
    min-width: 220px;
    width: 100%;
}

@media (max-width: 500px) {
    .img-portfolio--profile {
        width: 75%;
    }
}

.img-section {
    background-color: rgb(40, 39, 38);
    border-radius: 0.5em;
    padding: 0.5em 0.75em;
    margin: 10px 0;
    box-shadow: 6px 8px 5px var(--box-shadow--color);
}

.img-content {
    position: relative;
    width: 100%;
    border-radius: 0.5em;
}

/*********************
=== button styles ===
*********************/

/* Container surrounding the buttons */

/* Buttons will not display properly unless they are surrounded by this container */

/* This button is made to look 3D and uses a position relative div and relative divs to accomplish this */

/* MUST be used in conjunction with Bootstrap's 'btn' class */

/* Buttons CANNOT have multiple rows of text */

/* Used this website as a resource: https://tympanus.net/codrops/2012/01/11/css-buttons-with-pseudo-elements/ */

/* btn-main refers to the clickable button, platform refers to the outline around the button,
platform-wall refers to the area that is revealed when the button is clicked, and finally,
button-height refers to the area below the button which represents the 3d protrusion of the button */

.btn-main--container {
    position: relative;
    display: inline-block;
    margin: 5px 3px 0px 3px;
}

.btn-main--container > .btn.btn-main {
    position: absolute;
    background-color: rgb(64, 88, 194);
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    border-radius: 5px;
    top: -6px;
    left: 0;
    border: none;
    transition: top 0.07s, color 1s;
}

.subsection-title > .btn.btn-main {
    font-size: 32px;
}

/* Turns off box-shadow when the button is clicked and Removes the blue outline that appears when focusing a button */

.btn-main--container>a.btn-main:focus {
    outline: none;
    box-shadow: none;
}

.btn-main--container > .btn.btn-main:hover {
    top: -4px;
    height: 100%;
    transition: top 0.125s, height 0.10s, color 0.25s, transform 0.05s;
    color: rgba(255, 255, 255, 0.7);
}

.btn-main--container > .btn.btn-main:active {
    height: 86%;
    top: 14%;
    color: rgba(255, 255, 255, 0.3);
}

.btn-main--container > .platform {
    position: absolute;
    background-color: rgba(100, 100, 100, 0.5);
    z-index: -2;
    width: 4px;
    height: 4px;
    top: -2px;
    left: -2px;
    border-radius: 5px;
}

.btn-main--container > .platform-wall {
    position: absolute;
    background-color: rgb(40, 40, 40);
    background: linear-gradient(150deg, rgb(40, 40, 40), rgb(20, 20, 20));
    z-index: -1;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.btn-main--container > .button-height {
    position: absolute;
    z-index: -1;
    bottom: 0px;
    left: 0px;
    background-color: rgb(39, 55, 131);
    background: linear-gradient(150deg, rgb(60, 80, 170), rgb(45, 62, 141));
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

/*************************
=== btn-main variants ===
*************************/

/* All variants must be used with btn-main*/

/* Red variant of the 'btn-main' button */

.btn-main--container > .btn.btn-main.btn-main--danger {
    background-color: #b61b2b;
}

.btn-main--container > .btn.btn-main.btn-main--danger ~ .button-height {
    background: linear-gradient(150deg, #a81a29, #8d131f);
}

/* Green variant of the 'btn-main' button */

.btn-main--container > .btn.btn-main.btn-main--success {
    background-color: #147529;
}

.btn-main--container > .btn.btn-main.btn-main--success ~ .button-height {
    background: linear-gradient(150deg, #1e7732, #10521e);
}

/*******************************
=== Responsive Card Columns ===
*******************************/

@media (min-width: 576px) {
    .my-projects-section .card-columns {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .my-projects-section .card-columns {
        column-count: 2;
    }
}

@media (min-width: 1400px) {
    .my-projects-section .card-columns {
        column-count: 3;
    }
}