:root {
    --bg-color--main: rgb(50, 49, 48);
    --bg-color--secondary: rgb(9, 60, 77);
    --text-color--main: rgb(255, 255, 255);
    --box-shadow--color: rgb(20, 20, 20);
}

body {
    background-color: var(--bg-color--main);
    color: var(--text-color--main);
}

/*****************************
=== Site Background Image ===
*****************************/

.background-container {
    background-image: url('../images/circuitboard.jpg');
    background-repeat: repeat;
    width: 100%;
    height: 200%;
    overflow: hidden;
    opacity: 0.01;
    position: absolute;
    z-index: -1;
}

/****************************
=== Navigation | Nav bar ===
****************************/

.navigation {
    position: sticky;
    top: 0;
    background-color: rgb(5, 0, 51);
    display: flex;
    z-index: 50;
    border-radius: 0 0 0.25em 0.25em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 3px 5px 5px var(--box-shadow--color);
    transition: 0.33s;
}

.navigation h4,
.navigation h1 {
    margin-bottom: 0;
    font-weight: bolder;
}

/***********************
=== Content Section ===
***********************/

.content-section {
    background-color: rgb(40, 39, 38);
    border-radius: 0.5em;
    padding: 0.5em 0.75em;
    margin-top: 15px;
    box-shadow: 3px 5px 5px var(--box-shadow--color);
}

/*********************
=== button styles ===
*********************/

/* Container surrounding the buttons */

/* Buttons will not display properly unless they are surrounded by an element with z-index > 2 */

.btn-main--container {
    z-index: 0;
}

/* This button is made to look 3D and uses a :before pseudo element for styling purposes. */

/* MUST be used in conjunction with Bootstrap's 'btn' class */

/* Used this website as a resource: https://tympanus.net/codrops/2012/01/11/css-buttons-with-pseudo-elements/ */

.btn-main--container>a.btn-main {
    /* --- Variables --- */
    /* You can change these values to easily change the look of the buttons */
    /* Platform refers to the dark gray outline around the button that is created by the :before pseudo element */
    --platform-height: 3px;
    --platform-width: 3px;
    --button-height: 6px;
    --platform-color: rgb(61, 61, 59);
    --button-bg-color--top: rgb(0, 101, 134);
    --button-bg-color--sides: rgb(0, 80, 107);
    --button-text-color--default: white;
    --button-text-color--hover: lightgray;
    --button-text-color--active: rgb(61, 61, 59);
    /* --- Properties --- */
    position: relative;
    background-color: var(--button-bg-color--top);
    color: var(--button-text-color--default);
    box-shadow: 0 var(--button-height) 0 var(--button-bg-color--sides);
    font-weight: bold;
    border-radius: 0.33em;
    margin: 0.25em;
    margin-bottom: 0.5em;
}

/* Removes the blue outline that appears when focusing a button */

.btn-main--container>a.btn-main:focus {
    outline: none;
}

.btn-main--container>a.btn-main:hover,
.btn-main--container>a.btn-main:focus {
    top: calc(var(--button-height) / 2);
    box-shadow: 0 calc(var(--button-height) / 2) 0 var(--button-bg-color--sides);
    color: var(--button-text-color--hover);
}

.btn-main--container>a.btn-main:active {
    top: var(--button-height);
    color: var(--button-text-color--active);
}

/* Pseudo element that represents the dark gray platform below the button */

.btn-main--container>a.btn-main::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: var(--platform-height);
    left: calc(-1 * var(--platform-width));
    height: calc(100% + 2 * var(--platform-height));
    width: calc(100% + 2 * var(--platform-width));
    background-color: var(--platform-color);
    border-radius: 0.33em;
}

.btn-main--container>a.btn-main:hover::before,
.btn-main--container>a.btn-main:focus::before {
    top: calc(var(--platform-height) - var(--button-height) / 2);
}

.btn-main--container>a.btn-main:active::before {
    top: calc(var(--platform-height) - var(--button-height));
}

/*************************
=== btn-main variants ===
*************************/

/* All variants must be used with btn-main*/

/* Red variant of the 'btn-main' button */

.btn-main--container>a.btn-main--danger {
    background-color: #b61b2b;
    box-shadow: 0 var(--button-height) 0 #86121e;
}

.btn-main--container>a.btn-main--danger:hover,
.btn-main--container>a.btn-main--danger:focus {
    box-shadow: 0 calc(var(--button-height) / 2) 0 #86121e;
}

/* Green variant of the 'btn-main' button */

.btn-main--container>a.btn-main--success {
    background-color: #147529;
    box-shadow: 0 var(--button-height) 0 #135e23;
}

.btn-main--container>a.btn-main--success:hover,
.btn-main--container>a.btn-main--success:focus {
    box-shadow: 0 calc(var(--button-height) / 2) 0 #135e23;
}

/* Turns off box-shadow when the button is clicked */

.btn-main--container>a.btn-main:active {
    box-shadow: none;
}